<!DOCTYPE html>
<html lang="fr">


<!-- Mirrored from areprdc.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 02 Feb 2025 12:54:31 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CWZ6FNJNPY"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-CWZ6FNJNPY');
    </script>
    <meta charset="utf-8">

    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>AREP - Agissons pour la République</title>
    <meta content="AREP - Agissons pour la République" name="description">
    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <!-- <link href="assets/img/logoarep.png" rel="apple-touch-icon"> -->
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">



    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">
    <style type="text/css">
        .btnjack{
            background: #fff;
            color: #2b2d83;
            padding: 1.5%;
        }
        .btnjack:hover{
            background: #2b2d83;
            color: #fff;
            padding: 1.5%;
        }
    </style>
    <!-- =======================================================
    * Template Name: Bethany - v4.7.0
    * Template URL: https://bootstrapmade.com/bethany-free-onepage-bootstrap-theme/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>
<body>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container">
        <div class="header-container d-flex align-items-center justify-content-between">
            <div class="logo text-center">
                <!--
                  <h1 class="text-light"><a href="./"> <span>AREP</span></a></h1>
                  <p style="font-size: 9px; color: white">Agissons pour la République</p>
                  Uncomment below if you prefer to use an image logo -->
                <a href="index.html"><img src="assets/img/logo_3.png" class="img-fluid"></a>
            </div>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="#hero">Accueil</a></li>
                    <li class="dropdown"><a href="#"><span>A propos</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="apropos4587.html?k=quisommesnous">Qui sommes-nous ?</a></li>
                            <li><a href="apropos371b.html?k=vision">Vision</a></li>
                            <li><a href="apropos1758.html?k=teamcadre">Team-Cadre</a></li>
                        </ul>
                    </li><!--
            <li><a class="nav-link scrollto" href="agenda.php">Agenda</a></li> -->
                    <li><a class="nav-link scrollto " href="activite.html">Activités</a></li>
                    <li class="dropdown"><a href="#"><span>Publications</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="lecturee551.html?k=congodapres" target="_blanc">Livre - Congo d'après</a></li>
                        </ul>
                    </li>
                    <!--
                    <li><a class="nav-link scrollto" href="espace_membre.php?page=adhesion&etape=1" style="font-size: 14px; font-weight: bolder; color:#A57033">Adhérer</a></li>
                    -->
                    <li><a class="nav-link scrollto" href="contact.html">Contact</a></li>
                    <li><a class="nav-link scrollto" href="gallerie.html">Galerie</a></li>
                    <li><a class="nav-link scrollto" href="lecture.html" target="_blanc">Statuts</a></li>
                    <!-- <li style=" padding-left: 0;"><a class="getstarted scrollto" title="NON À LA BALKANISATION DE LA RDC" href="petition.html">Signer la pétition</a></li>  -->
                    <!--<li style="padding-left: 0; background: ##00c28e"><a class="getstarted scrollto" href="tel:+243815470247" title="+243815470247">Infoline</a></li>-->
                    <li style=" padding-left: 0;"><a class="getstarted scrollto" href="verif009f.html?rtrntiate2458647856478745268785112365458" title="Payer sa cotisation ou acheter sa Carte de Membre">Payer</a></li>
                    <li style=" padding-left: 0;"><a class="getstarted scrollto" href="espace_membre0af3.html?page=adhesion&amp;etape=0">Adhérer</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div><!-- End Header Container -->
    </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center" >
    <!--<div class="container text-center position-relative" data-aos="fade-in" data-aos-delay="200" >
      <h1 >AGISSONS POUR LA R&#201;PUBLIQUE</h1>
      <a href="apropos.php" class="btn-get-started scrollto">En savoir plus</a>
      <a href="espace_membre.php?page=adhesion&etape=0" class="btn-get-started scrollto">Devenir membre</a>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>-->
    <div class="portfolio-details-slider swiper" style="width: 100%">

        <div class="swiper-wrapper align-items-center">

            <div class="swiper-slide">
                <img src="assets/img/banniere.html" style="width: 100%; height: 100%" alt="">
            </div>
            <div class="swiper-slide">
                <h1></h1>
                <a href="#">
                    <img src="assets/img/balkanisation.jpg" style="width: 100%; height: 100%"  alt="">
                </a>
                <!--<div style="background: rgba(0, 0, 0, 0.4); z-index: 1; position: absolute; text-align: center; font-family: Georgia; margin: 0 auto; left: 0; right: 0; top: 40%; color: white; width: 70%;">
                  <br>
                  <h2 style="font-size: 30px; font-weight: bolder;">EGYPTE 2022 : COP 27 AVEC SON EXCELLENCE GUY LOANDO </h2>
                  <a href="#" style="font-size: 20px; font-weight: bolder; border: solid;">En savoir plus</a>
                </div>-->
            </div>
            <div class="swiper-slide">
                <a href="activiteac34.html?k=26" title="Kinshasa : Les étudiants visitent le siège d' AREP">
                    <img src="assets/img/gallerie/es1.jpg" style="width: 100%; height: 100%"  alt="">
                </a>
                <!-- <div style="background: rgba(0, 0, 0, 0.4); z-index: 1; position: absolute; text-align: center; font-family: Georgia; margin: 0 auto; left: 0; right: 0; top: 40%; color: white; width: 70%;">
                     <br>
                     <h2 style="font-size: 30px; font-weight: bolder;">Kinshasa : Les étudiants visitent le siège d' AREP</h2>
                     <a href="activite.php?k=26" style="font-size: 20px; font-weight: bolder;">En savoir plus</a>

                 </div>-->
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</section><!-- End Hero -->
<!-- ======= Clients Section ======= -->
<section id="clients" class="clients">
    <div class="container">

        <div class="row" style="padding:1% 0 1% 0">

            <div class="col-lg-3 col-md-4 col-6 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="100">
                <a href="verif009f.html?rtrntiate2458647856478745268785112365458" class="btn btn-outline-secondary" style="width:100%">Payer votre cotisation en ligne</a>
                <!-- <img src="assets/img/clients/client-1.png" class="img-fluid" alt=""> -->
            </div>

            <div class="col-lg-3 col-md-4 col-6 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="200">
                <a href="#" class="btn btn-outline-secondary" style="width:100%">Vérifier la validité de votre adhésion</a>
            </div>

            <div class="col-lg-3 col-md-4 col-6 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="300">
                <a href="#" class="btn btn-outline-secondary" style="width:100%">Télécharger l’application Mobile</a>
            </div>

            <div class="col-lg-3 col-md-4 col-6 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="600">
                <form method="post" action="https://areprdc.com/fonction/verification_membre.php" style="width:100%; height:100%;">
                    <button name="btn_fd" class="btn btn-outline-secondary" style="width:100%; height:100%;">Faire un don</button>
                </form>

            </div>

        </div>

    </div>
</section><!-- End Clients Section -->

<main id="main">
    <!-- SOndage -->
    <section class="section" style="background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">

                </div>
                <div class="col-lg-8" data-bs-toggle="modal" data-bs-target="#ExtralargeModal">
                    <div class="card">
                        <div class="card-body">
                            <h1>Votre avis compte beaucoup</h1>
                            <hr>
                            <p>Salut ! C'est votre Serviteur Me Guy LOANDO MBOYO, j'aimerais avoir votre avis ou votre témoignage à propos de mes actions pour m'améliorer, m'encourager et définir de nouvelles directions pour bien mener nos actions futures. <br>
                                <b><a href="#" data-bs-toggle="modal" data-bs-target="#ExtralargeModal">Votre avis compte beaucoup !</a></b>
                            </p>

                            <!-- Extra Large Modal -->
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ExtralargeModal">
                                Cliquez ici !
                            </button>

                            <div class="modal fade" id="ExtralargeModal" tabindex="-1">
                                <div class="modal-dialog modal-xl">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Votre avis compte beaucoup !</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <iframe id="inlineFrameExample"
                                                    title="Votre avis"
                                                    width="100%"
                                                    height="600"
                                                    src="https://www.guyloando.com/testimonials.php">
                                            </iframe>
                                        </div>
                                        <!-- <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                          <button type="button" class="btn btn-primary">Save changes</button>
                                        </div> -->
                                    </div>
                                </div>
                            </div><!-- End Extra Large Modal-->
                        </div>
                    </div>
                </div>
                <div>

                </div>
            </div>
        </div>
    </section>
    <!-- Fin sondage -->
    <section id="portfolio-details" class="portfolio-details" style="background: linear-gradient(#fff,70%,#2b2d83);">
        <div class="container">
            <h1>A LA UNE</h1>
            <hr>
            <div class="row gy-4">
                <div class="col-lg-8">
                    <video controls width="100%" poster="assets/img/activite/64a5b10d71dd4.jpg" preload="none">
                        <source src="assets/video/arep_3.mp4" type="video/mp4">
                    </video>
                </div>

                <div class="col-lg-4" >
                    <div class="portfolio-info" style="background:#fff">
                        <h4>Henry MUTOMBO Porte-Parole d’AREP dit: «Le triomphe de FATSHI en décembre 2023 est non négociable, AREP l’accompagne jusqu’à la victoire finale»</h4>

                        <a href="activite3f07.html?k=68">Lire plus</a>
                    </div>
                </div>

            </div>
            <br>
            <!--     <div class="row gy-4">
                   <div class="col-lg-8">
                     <video controls width="100%" poster="assets/img/emission2.JPG" preload="none">
                       <source src="assets/video/emission1.mp4" type="video/mp4">
                     </video>
                   </div>

                   <div class="col-lg-4">
                     <div class="portfolio-info">
                       <h3>Extrait de l’émission Grand Plateau</h3>
                       Notre engagement politique à travers AREP

                     </div>
                   </div>

                 </div> -->
        </div>
    </section><!-- End Portfolio Details Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
        <div class="container">

            <div class="row">
                <div class="col-lg-4">
                    <div class="section-title" data-aos="fade-right">
                        <h1>NOTRE VISION</h1>
                        <h6 style="font-weight: bold; text-align: right;">La légende du Colibri</h6>
                        <p class="shadow p-3 mb-5 bg-white rounded" style=" color:#2b2d83; background: #F2F3F6 ; font-size: 14px; text-align: right; padding: 2%">
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Un jour, dit la légende, il y eut un immense incendie de forêt.
                            Terrifiés et atterrés, tous les animaux observaient, impuissants, le désastre.
                            Seul le petit Colibri s’activait, allant chercher quelques gouttes d’eau avec son bec pour les jeter dans le feu.
                            <br>
                            <br>
                            Après un moment, le tatou, <br>agacé par cette agitation dérisoire, lui dit :
                            <br>
                            <br>
                            «Colibri ! tu n’es pas fou ? Ce n’est pas avec ces gouttes d’eau que tu vas éteindre le feu !»
                            Et le Colibri lui répondit : « <b>Je le sais mais je fais ma part.</b> »
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            <br>
                            <span style="color:blue;">Légende Amérindienne</span>
                        </p>
                    </div>
                </div>
                <div class="col-lg-8" data-aos="fade-up" data-aos-delay="100">

                    <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                        <div class="swiper-wrapper">

                            <div class="swiper-slide">
                                <div class="testimonial-item">
                                    <span style="font-size: 20px">1</span>
                                    <h3> A NOUS DE BÂTIR LE CONGO DE DEMAIN</h3>
                                    <p>
                                        <i class="bx bxs-quote-alt-left quote-icon-left" style="color:#2b2d83"></i>
                                        Après plus de soixante ans d’indépendance, nous constatons que notre bilan est plutôt mitigé, et ce dans tous les domaines de la vie. Promouvoir et vouloir le changement, c’est travailler pour atteindre les objectifs qu’on s’est fixés.
                                        <i class="bx bxs-quote-alt-right quote-icon-right" style="color:#2b2d83"></i>
                                    </p>
                                    <a href="apropos910d.html?k=vision&amp;1#about">En savoir plus</a>
                                </div>
                            </div><!-- End testimonial item -->
                            <div class="swiper-slide">
                                <div class="testimonial-item">
                                    <span style="font-size: 20px">2</span>
                                    <h3> A NOUS DE PLACER L’HUMAIN AU CŒUR DE NOTRE PROJET</h3>
                                    <p>
                                        <i class="bx bxs-quote-alt-left quote-icon-left" style="color:#2b2d83" ></i>
                                        AREP est un parti politique qui a pour vocation de bâtir le Congo de demain en plaçant le citoyen congolais au centre de la politique et de ses enjeux. L’émancipation de chaque personne est au cœur de nos préoccupations afin que...
                                        <i class="bx bxs-quote-alt-right quote-icon-right" style="color:#2b2d83"></i>
                                    </p>
                                    <a href="aproposf206.html?k=vision&amp;2#about">En savoir plus</a>
                                </div>
                            </div><!-- End testimonial item -->
                            <div class="swiper-slide">
                                <div class="testimonial-item">
                                    <span style="font-size: 20px">3</span>
                                    <h3> A NOUS DE PRENDRE CONSCIENCE</h3>
                                    <p>
                                        <i class="bx bxs-quote-alt-left quote-icon-left" style="color:#2b2d83" ></i>
                                        Nous sommes partisans d’un discours d’honnêteté et de réalisme. Nous souhaitons outiller chaque Congolais pour qu’il puisse saisir toute opportunité qui s’offre à lui tout en tenant compte des réalités et aléas de la vie.
                                        <i class="bx bxs-quote-alt-right quote-icon-right" style="color:#2b2d83"></i>
                                    </p>
                                    <a href="apropos10b1.html?k=vision&amp;3#about">En savoir plus</a>
                                </div>
                            </div><!-- End testimonial item -->
                            <div class="swiper-slide">
                                <div class="testimonial-item">
                                    <span style="font-size: 20px">4</span>
                                    <h3> A NOUS DE FAIRE DE LA RESPONSABILITÉ L’AFFAIRE DE CHACUN</h3>
                                    <p>
                                        <i class="bx bxs-quote-alt-left quote-icon-left" style="color:#2b2d83" ></i>
                                        Chaque Congolais doit donc faire sa part et trouver sa place dans la société. Toutes les forces vives de notre pays seront nécessaires à son essor; cela pour permettre l’émergence d’une nation fertile en initiatives...
                                        <i class="bx bxs-quote-alt-right quote-icon-right" style="color:#2b2d83"></i>
                                    </p>
                                    <a href="aproposf827.html?k=vision&amp;4#about">En savoir plus</a>
                                </div>
                            </div><!-- End testimonial item -->
                            <div class="swiper-slide">
                                <div class="testimonial-item">
                                    <span style="font-size: 20px">5</span>
                                    <h3> A NOUS DE NOUS ENGAGER POUR RÉUSSIR ENSEMBLE</h3>
                                    <p>
                                        <i class="bx bxs-quote-alt-left quote-icon-left" style="color:#2b2d83" ></i>
                                        Ce qui caractérise les femmes et les hommes de notre parti, c’est avant tout la volonté de ne pas se résigner à voir notre pays s’abandonner à ses fléaux. Nous, AREP, refusons le fatalisme et croyons au courage et à l’énergie du peuple congolais dans sa capacité....

                                        <i class="bx bxs-quote-alt-right quote-icon-right" style="color:#2b2d83"></i>
                                    </p>
                                    <a href="aproposc04f.html?k=vision&amp;5#about">En savoir plus</a>
                                </div>
                            </div><!-- End testimonial item -->
                            <div class="swiper-slide">
                                <div class="testimonial-item">
                                    <span style="font-size: 20px">6</span>
                                    <h3> À NOUS D’AVOIR L’EXIGENCE NECESSAIRE POUR UNE LIGNE DE CONDUITE COMMUNE</h3>
                                    <p>
                                        <i class="bx bxs-quote-alt-left quote-icon-left" style="color:#2b2d83" ></i>
                                        Mener une politique nouvelle et ambitieuse impose un devoir d’exigence sans concession. Exigence de probité, d’honnêteté, d’intégrité et d’engagement vis-à-vis des citoyens constituent donc notre leitmotiv ....
                                        <i class="bx bxs-quote-alt-right quote-icon-right" style="color:#2b2d83"></i>
                                    </p>
                                    <a href="apropos1b8f.html?k=vision&amp;6#about">En savoir plus</a>
                                </div>
                            </div><!-- End testimonial item -->
                            <div class="swiper-slide">
                                <div class="testimonial-item">
                                    <span style="font-size: 20px">7</span>
                                    <h3> A NOUS DE FAIRE DE LA JUSTICE UN DROIT POUR TOUS</h3>
                                    <p>
                                        <i class="bx bxs-quote-alt-left quote-icon-left" style="color:#2b2d83" ></i>
                                        L’un des objectifs de notre parti est d’établir les fondements d’une société plus juste, plus responsable et plus libre. Une telle politique requiert le respect des lois et la reconnaissance des droits fondamentaux pour tous.
                                        <i class="bx bxs-quote-alt-right quote-icon-right" style="color:#2b2d83"></i>
                                    </p>
                                    <a href="aproposeec1.html?k=vision&amp;7#about">En savoir plus</a>
                                </div>
                            </div><!-- End testimonial item -->
                            <div class="swiper-slide">
                                <div class="testimonial-item">
                                    <span style="font-size: 20px">8</span>
                                    <h3> A NOUS DE FAVORISER L’OUVERTURE DE NOTRE PAYS VERS LE MONDE</h3>
                                    <p>
                                        <i class="bx bxs-quote-alt-left quote-icon-left" style="color:#2b2d83" ></i>
                                        Le destin du Congo ne peut se concevoir sans la projection d’occuper sa place sur l’échiquier international. Nous avons un rôle important à jouer tant auprès de nos voisins du continent que face aux grandes puissances mondiales.
                                        <i class="bx bxs-quote-alt-right quote-icon-right" style="color:#2b2d83"></i>
                                    </p>
                                    <a href="aproposb737.html?k=vision&amp;8#about">En savoir plus</a>
                                </div>
                            </div><!-- End testimonial item -->
                            <div class="swiper-slide">
                                <div class="testimonial-item">
                                    <span style="font-size: 20px">9</span>
                                    <h3> A NOUS DE RENDRE LA LIBERTE AUX FORCES VIVES</h3>
                                    <p>
                                        <i class="bx bxs-quote-alt-left quote-icon-left" style="color:#2b2d83" ></i>
                                        Agriculteurs, marchants, acteurs économiques de tout ordre et de toute taille, tous doivent pouvoir profiter de la liberté de produire, de commencer et de développer leurs activités et leurs richesses. Nous voulons encourager l’entrepreneuriat, faire...
                                        <i class="bx bxs-quote-alt-right quote-icon-right" style="color:#2b2d83"></i>
                                    </p>
                                    <a href="apropos4e6d.html?k=vision&amp;9#about">En savoir plus</a>
                                </div>
                            </div><!-- End testimonial item -->
                            <div class="swiper-slide">
                                <div class="testimonial-item">
                                    <span style="font-size: 20px">10</span>
                                    <h3> A NOUS DE CRÉER LES CONDITIONS DE NOTRE ÉPANOUISSEMENT </h3>
                                    <p>
                                        <i class="bx bxs-quote-alt-left quote-icon-left" style="color:#2b2d83" ></i>
                                        L’épanouissement, tant intellectuel, moral que financier, permettrait le bien-être de chaque citoyen congolais. Tel est notre préoccupation principale, car avec elle le progrès est assuré. Il s’agit d’une quête longue et difficile que nous avons le courage...

                                        <i class="bx bxs-quote-alt-right quote-icon-right" style="color:#2b2d83"></i>
                                    </p>
                                    <a href="apropos95b2.html?k=vision&amp;10#about">En savoir plus</a>
                                </div>
                            </div><!-- End testimonial item -->



                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>

        </div>


    </section><!-- End Testimonials Section -->

    <!-- ======= section vide ======= -->
    <section id="testimonials" class="testimonials section-bg" style="margin:0; padding:0">
        <div class="container">

            <div class="row">
                <div class="col-lg-8" data-aos="fade-up" data-aos-delay="100">

                    <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                        <div class="swiper-wrapper">


                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Testimonials Section -->
    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
        <div class="container">

            <div class="row">
                <!--<div class="col-lg-4 d-flex align-items-stretch" data-aos="fade-right">
                 <div class="content" style="max-height: 600px; overflow-y: scroll;">
                   <h3>Actualités</h3>
                   <div class="text-center">


                   <p>
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit
                     Asperiores dolores sed et. Tenetur quia eos. Autem tempore quibusdam vel necessitatibus optio ad corporis.
                   </p>

                     <a href="#" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>

                   </div>

                 </div>
               </div>
               -->
                <div class="col-lg-12 d-flex align-items-stretch">
                    <div class="icon-boxes d-flex flex-column justify-content-center">
                        <div class="row">
                            <h1>Les actualités</h1>
                            <hr>

                            <div class="col-xl-4 d-flex align-items-stretch" style="margin-bottom: 2%" data-aos="zoom-in" data-aos-delay="100" >
                                <div class="icon-box mt-4 mt-xl-0">
                                    <img src="assets/img/activite/66d998f9909aa.png" style="width: 200px" class="img-fluid">
                                    <hr>
                                    <h4 style="text-align: justify; font-size: 15px">TEST</h4>
                                    <!-- <p style="font-size: 9px;"><p><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAA...</p> -->
                                    <hr>
                                    <a href="activite5156.html?k=84" class="btn-get-started">En savoir plus</a>
                                </div>
                            </div>
                            <div class="col-xl-4 d-flex align-items-stretch" style="margin-bottom: 2%" data-aos="zoom-in" data-aos-delay="200" >
                                <div class="icon-box mt-4 mt-xl-0">
                                    <img src="assets/img/activite/66591396aa8ab.jpg" style="width: 200px" class="img-fluid">
                                    <hr>
                                    <h4 style="text-align: justify; font-size: 15px">Le Secrétaire Général d&#039;AREP, Me Camy Richard KALELE MALOBO, félicite, l’autorité de référence, Me Guy LOANDO MBOYO, pour sa reconduction</h4>
                                    <!-- <p style="font-size: 9px;"><p style="text-align: justify;">Le Secr&eacute;taire G&eacut...</p> -->
                                    <hr>
                                    <a href="activite4406.html?k=81" class="btn-get-started">En savoir plus</a>
                                </div>
                            </div>
                            <div class="col-xl-4 d-flex align-items-stretch" style="margin-bottom: 2%" data-aos="zoom-in" data-aos-delay="300" >
                                <div class="icon-box mt-4 mt-xl-0">
                                    <img src="assets/img/activite/665917d4c18f7.jpg" style="width: 200px" class="img-fluid">
                                    <hr>
                                    <h4 style="text-align: justify; font-size: 15px">Au Minétat de l&#039;aménagement du territoire Me Guy Loando Mboyo</h4>
                                    <!-- <p style="font-size: 9px;"><div class="xdj266r x11i5rnm xat24cr x1mh8g0r x1vvkbs x126k9...</p> -->
                                    <hr>
                                    <a href="activite1107.html?k=82" class="btn-get-started">En savoir plus</a>
                                </div>
                            </div>
                            <div class="col-xl-4 d-flex align-items-stretch" style="margin-bottom: 2%" data-aos="zoom-in" data-aos-delay="400" >
                                <div class="icon-box mt-4 mt-xl-0">
                                    <img src="assets/img/activite/665a353b2913d.jpg" style="width: 200px" class="img-fluid">
                                    <hr>
                                    <h4 style="text-align: justify; font-size: 15px">Paris, La Fédération D&#039;AREP France a reçu Son Excellence Guy Loando Mboyo</h4>
                                    <!-- <p style="font-size: 9px;"><p style="text-align: justify;">Paris, le 31 mai 2024 - La F...</p> -->
                                    <hr>
                                    <a href="activitef1f0.html?k=83" class="btn-get-started">En savoir plus</a>
                                </div>
                            </div>
                            <div class="col-xl-4 d-flex align-items-stretch" style="margin-bottom: 2%" data-aos="zoom-in" data-aos-delay="500" >
                                <div class="icon-box mt-4 mt-xl-0">
                                    <img src="assets/img/activite/665474dc273ab.jpg" style="width: 200px" class="img-fluid">
                                    <hr>
                                    <h4 style="text-align: justify; font-size: 15px">L’Honorable Germaine TSHINYAMA a visité la Fédération d&#039;AREP FUNA</h4>
                                    <!-- <p style="font-size: 9px;"><div class="xdj266r x11i5rnm xat24cr x1mh8g0r x1vvkbs x126k9...</p> -->
                                    <hr>
                                    <a href="activited4a7.html?k=79" class="btn-get-started">En savoir plus</a>
                                </div>
                            </div>
                            <div class="col-xl-4 d-flex align-items-stretch" style="margin-bottom: 2%" data-aos="zoom-in" data-aos-delay="600" >
                                <div class="icon-box mt-4 mt-xl-0">
                                    <img src="assets/img/activite/6651c1818e30d.jpg" style="width: 200px" class="img-fluid">
                                    <hr>
                                    <h4 style="text-align: justify; font-size: 15px">Après le succès électoral, Me Guy Loando Mboyo honore l&#039;intégrité des députés d&#039;AREP lors d&#039;une cérémonie solennelle</h4>
                                    <!-- <p style="font-size: 9px;"><p style="text-align: justify;">Kinshasa, le 14 mai 2024 - M...</p> -->
                                    <hr>
                                    <a href="activite34a2.html?k=75" class="btn-get-started">En savoir plus</a>
                                </div>
                            </div>
                            <br>
                            <hr>
                            <a href="activite.html" class="btn btnjack">Toutes les activités</a>
                        </div>
                    </div><!-- End .content-->
                </div>
            </div>

        </div>
    </section><!-- End Why Us Section -->
    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
        <div class="container">

            <div class="row">
                <div class="col-lg-12" data-aos="fade-up" data-aos-delay="100">
                    <h1>LES TWEETS RECENTS</h1>
                    <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100" style="max-height: 700px; overflow-y: scroll;">
                        <a class="twitter-timeline" href="https://twitter.com/ArepOfficiel?ref_src=twsrc%5Etfw">Tweets by ArepOfficiel</a> <script async src="../platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
        <div class="container">

            <div class="text-center" data-aos="zoom-in">
                <h3>Devenir membre</h3>
                <p>
                    Ce qui caractérise les femmes et les hommes de notre parti, c’est avant tout la volonté de ne pas se résigner à voir notre pays s’abandonner à ses fléaux.
                </p>
                <a class="cta-btn" href="espace_membre0af3.html?page=adhesion&amp;etape=0">Deposer votre demande</a>
            </div>

        </div>
    </section><!-- End Cta Section -->


</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">

    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3>AREP</h3>
                    <p>
                        289, 4<sup>ème</sup> rue Quartier Industriel Commune de Limete <br>
                        Ville de Kinshasa<br>
                        République Démocratique du Congo <br>
                        <strong>Phone:</strong> <a href="tel:+243858332282">+243858332282</a><br>
                        <strong>Email:</strong> info@areprdc.com<br>
                    </p>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Liens internes</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="apropos.html">A propos</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="agenda.html">Agenda</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="activite.html">Activités</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="espace_membre0af3.html?page=adhesion&amp;etape=0">Devenir Membre</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Liens externes</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="http://fondationwidal.org/" target="_blanc">Fondation Widal</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="http://guyloando.com/" target="_blanc">Guy Loando</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 footer-newsletter">
                    <h4>Notre Newsletter</h4>
                    <p>Abonnez-vous à notre Newsletter pour recevoir nos actualités par mail</p>
                    <form role="form" action="https://areprdc.com/fonction/newsletter_controller.php" method="post">
                        <input type="email" name="email" placeholder="Votre mail" required ><input type="submit" name="btn_suscrire" value="Souscrire">
                    </form>
                </div>

            </div>
        </div>
    </div>

    <div class="container d-md-flex py-4">

        <div class="me-md-auto text-center text-md-start">
            <div class="copyright">
                Tous droits reservés. &copy; Copyright 2025 <strong><span>AREP</span></strong>.
            </div>
        </div>
        <div class="social-links text-center text-md-right pt-3 pt-md-0">
            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="https://web.facebook.com/ArepOfficiel/?_rdc=1&amp;_rdr" target="_blanc" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        </div>
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="assets/vendor/purecounter/purecounter.js"></script>
<script src="assets/vendor/aos/aos.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>
<script type="text/javascript">
    function slogan(){
        alert('NOTRE SLOGAN : A NOUS DE BATIR LE CONGO DE DEMAIN')
    }
</script>
<!-- Template Main JS File -->
<script src="assets/js/main.js"></script><script async src="../platform.twitter.com/widgets.js" charset="utf-8"></script>

</body>


<!-- Mirrored from areprdc.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 02 Feb 2025 12:54:58 GMT -->
</html>